/* classes and ids visual changes */
/*special changes for exmaple animations*/

header {
    background-color: rgb(211,211,211);
}
footer {
    background-color: rgb(211,211,211);
}

div {
    background-color: rgb(211,211,211);
}